# Ignore everything by default
*

# Allow only Python and Jupyter Notebook files
!*.py
!*.ipynb

# Allow directories (so Git can track files inside)
!*/

# Ensure .gitignore is always tracked
!.gitignore
